# Deep Learning

* Regression Model
* Classification Model
* Model Optimization
* USing Models

In [1]:
# Import necessay modules
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import keras
from keras.layers import Dense
from keras.models import Sequential

from keras.utils import to_categorical

Using TensorFlow backend.

In [2]:
df = pd.read_csv('datasets/hourly_wages.csv')

In [3]:
df.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534 entries, 0 to 533
Data columns (total 10 columns):
wage_per_hour     534 non-null float64
union             534 non-null int64
education_yrs     534 non-null int64
experience_yrs    534 non-null int64
age               534 non-null int64
female            534 non-null int64
marr              534 non-null int64
south             534 non-null int64
manufacturing     534 non-null int64
construction      534 non-null int64
dtypes: float64(1), int64(9)
memory usage: 41.8 KB

In [5]:
df.describe()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
count,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000
mean,9.024064,0.179775,13.018727,17.822097,36.833333,0.458801,0.655431,0.292135,0.185393,0.044944
std,5.139097,0.384360,2.615373,12.379710,11.726573,0.498767,0.475673,0.455170,0.388981,0.207375
min,1.000000,0.000000,2.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.250000,0.000000,12.000000,8.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.780000,0.000000,12.000000,15.000000,35.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,11.250000,0.000000,15.000000,26.000000,44.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,44.500000,1.000000,18.000000,55.000000,64.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## Regression Model

In [6]:
# Create an array of Predictors
X = df.drop('wage_per_hour', axis=1).values

# Create an array of Target
y = df.wage_per_hour.values

### Specify a Model

In [7]:
# Save the number of columns in predictors
n_cols = X.shape[1]

# Set up the Sequential model
model = Sequential()

# Add the first layer
model.add(Dense(50, activation='relu', input_shape=(n_cols,)))

# Add the second layer
model.add(Dense(32, activation='relu'))

# Add the output layer
model.add(Dense(1))

WARNING:tensorflow:From /anaconda3/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

### Compile the Model

After specifying the model, we need to compile it to set up the network for **optimization**. `adam` is usually a good choice for optimizer. Note that scaling data before fitting can improve optimization process.

In [8]:
# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Verify that model contains information from compiling
print("Loss function: " + model.loss)

Loss function: mean_squared_error

### Fit the Model

In [9]:
# Fit the model
model.fit(X, y, epochs=10)

WARNING:tensorflow:From /anaconda3/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/10
534/534 [==============================] - 1s 2ms/step - loss: 53.5771
Epoch 2/10
534/534 [==============================] - 0s 77us/step - loss: 29.1889
Epoch 3/10
534/534 [==============================] - 0s 92us/step - loss: 22.1902
Epoch 4/10
534/534 [==============================] - 0s 92us/step - loss: 21.4880
Epoch 5/10
534/534 [==============================] - 0s 78us/step - loss: 21.6626
Epoch 6/10
534/534 [==============================] - 0s 81us/step - loss: 22.1543
Epoch 7/10
534/534 [==============================] - 0s 96us/step - loss: 21.3429
Epoch 8/10
534/534 [==============================] - 0s 113us/step - loss: 21.1991
Epoch 9/10
534/534 [==============================] - 0s 97us/step - loss: 20.9840
Epoch 10/10
534/534 [==============================] - 0s 89us/step - loss: 21.1075

## Classification Model

The main differences of Classification Model with the previous one are:
 - Use `categorical_crossentropy`, `sgd`, or other several loss functions, instead of `mean_squared_error`
 - Add `accuracy` to the compilation step
 - Change activation function to `softmax`
 
_Dataset: Titanic - For detailed information [>>>](https://www.kaggle.com/c/titanic)_

In [10]:
df2 = pd.read_csv('datasets/titanic_num.csv')

In [11]:
df2.head()

,survived,pclass,age,sibsp,parch,fare,male,age_was_missing,embarked_from_cherbourg,embarked_from_queenstown,embarked_from_southampton
0,0,3,22.0,1,0,7.2500,1,False,0,0,1
1,1,1,38.0,1,0,71.2833,0,False,1,0,0
2,1,3,26.0,0,0,7.9250,0,False,0,0,1
3,1,1,35.0,1,0,53.1000,0,False,0,0,1
4,0,3,35.0,0,0,8.0500,1,False,0,0,1

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
survived                     891 non-null int64
pclass                       891 non-null int64
age                          891 non-null float64
sibsp                        891 non-null int64
parch                        891 non-null int64
fare                         891 non-null float64
male                         891 non-null int64
age_was_missing              891 non-null bool
embarked_from_cherbourg      891 non-null int64
embarked_from_queenstown     891 non-null int64
embarked_from_southampton    891 non-null int64
dtypes: bool(1), float64(2), int64(8)
memory usage: 70.6 KB

In [13]:
df2.describe()

,survived,pclass,age,sibsp,parch,fare,male,embarked_from_cherbourg,embarked_from_queenstown,embarked_from_southampton
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,0.647587,0.188552,0.086420,0.722783
std,0.486592,0.836071,13.002015,1.102743,0.806057,49.693429,0.477990,0.391372,0.281141,0.447876
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400,0.000000,0.000000,0.000000,0.000000
50%,0.000000,3.000000,29.699118,0.000000,0.000000,14.454200,1.000000,0.000000,0.000000,1.000000
75%,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000,1.000000,0.000000,0.000000,1.000000
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000,1.000000,1.000000,1.000000

In [14]:
# Create an array of Predictors
X = df2.drop('survived', axis=1).values

# Convert the target to categorical
y = to_categorical(df2.survived)

### Set Up the Model

In [15]:
# Save the number of columns in predictors
n_cols = X.shape[1]

# Set up the model
model = Sequential()

# Add the first layer
model.add(Dense(32, activation='relu', input_shape=(n_cols,)))

# Add the output layer
model.add(Dense(2, activation='softmax'))

### Compile the Model

We'll try to predict which passengers survived

In [16]:
# Compile the model
model.compile(optimizer='sgd', loss='categorical_crossentropy', metrics=['accuracy'])

### Fit the Model

In [17]:
# Fit the model
model.fit(X, y, epochs=10)

Epoch 1/10
891/891 [==============================] - 1s 930us/step - loss: 2.8161 - acc: 0.5836
Epoch 2/10
891/891 [==============================] - 0s 88us/step - loss: 1.6971 - acc: 0.6308
Epoch 3/10
891/891 [==============================] - 0s 84us/step - loss: 1.0604 - acc: 0.6285
Epoch 4/10
891/891 [==============================] - 0s 83us/step - loss: 0.9792 - acc: 0.6308
Epoch 5/10
891/891 [==============================] - 0s 81us/step - loss: 0.6739 - acc: 0.6397
Epoch 6/10
891/891 [==============================] - 0s 87us/step - loss: 0.6647 - acc: 0.6756
Epoch 7/10
891/891 [==============================] - 0s 82us/step - loss: 0.6136 - acc: 0.6756
Epoch 8/10
891/891 [==============================] - 0s 86us/step - loss: 0.6181 - acc: 0.6655
Epoch 9/10
891/891 [==============================] - 0s 89us/step - loss: 0.6229 - acc: 0.6566
Epoch 10/10
891/891 [==============================] - 0s 89us/step - loss: 0.6014 - acc: 0.6824

## Model Optimization

In [22]:
input_shape=(n_cols,)

def get_new_model(input_shape = input_shape):
    model = Sequential()
    model.add(Dense(100, activation='relu', input_shape = input_shape))
    model.add(Dense(100, activation='relu'))
    model.add(Dense(2, activation='softmax'))
    return(model)

In [23]:
# Import the SGD optimizer
from keras.optimizers import SGD

# Create list of learning rates
lr_to_test = [0.000001, 0.01, 1]

# Loop over learning rates
for lr in lr_to_test:
    print('\n\nTesting model with learning rate: %f\n'%lr )
    
    # Build new model to test, unaffected by previous models
    model = get_new_model()
    
    # Create SGD optimizer with specified learning rate
    my_optimizer = SGD(lr=lr)
    
    # Compile the model
    model.compile(optimizer=my_optimizer, loss='categorical_crossentropy')
    
    # Fit the model
    model.fit(X, y, epochs=10)

Testing model with learning rate: 0.000001

Epoch 1/10
891/891 [==============================] - 1s 1ms/step - loss: 1.8296
Epoch 2/10
891/891 [==============================] - 0s 108us/step - loss: 1.8181
Epoch 3/10
891/891 [==============================] - 0s 109us/step - loss: 1.8064
Epoch 4/10
891/891 [==============================] - 0s 113us/step - loss: 1.7947
Epoch 5/10
891/891 [==============================] - 0s 114us/step - loss: 1.7829
Epoch 6/10
891/891 [==============================] - 0s 117us/step - loss: 1.7708
Epoch 7/10
891/891 [==============================] - 0s 104us/step - loss: 1.7589
Epoch 8/10
891/891 [==============================] - 0s 111us/step - loss: 1.7465
Epoch 9/10
891/891 [==============================] - 0s 188us/step - loss: 1.7332
Epoch 10/10
891/891 [==============================] - 0s 190us/step - loss: 1.7197


Testing model with learning rate: 0.010000

Epoch 1/10
891/891 [==============================] - 1s 1ms/step - loss: 1.3785
Epoch 2/10
891/891 [==============================] - 0s 113us/step - loss: 0.7675
Epoch 3/10
891/891 [==============================] - 0s 139us/step - loss: 0.6900
Epoch 4/10
891/891 [==============================] - 0s 129us/step - loss: 0.6391
Epoch 5/10
891/891 [==============================] - 0s 125us/step - loss: 0.6390
Epoch 6/10
891/891 [==============================] - 0s 215us/step - loss: 0.6482
Epoch 7/10
891/891 [==============================] - 0s 118us/step - loss: 0.6348
Epoch 8/10
891/891 [==============================] - 0s 124us/step - loss: 0.6230
Epoch 9/10
891/891 [==============================] - 0s 119us/step - loss: 0.5914
Epoch 10/10
891/891 [==============================] - 0s 118us/step - loss: 0.5999


Testing model with learning rate: 1.000000

Epoch 1/10
891/891 [==============================] - 1s 1ms/step - loss: 9.6192
Epoch 2/10
891/891 [==============================] - 0s 107us/step - loss: 9.9314
Epoch 3/10
891/891 [==============================] - 0s 157us/step - loss: 9.9314
Epoch 4/10
891/891 [==============================] - 0s 193us/step - loss: 9.9314
Epoch 5/10
891/891 [==============================] - 0s 113us/step - loss: 9.9314
Epoch 6/10
891/891 [==============================] - 0s 108us/step - loss: 9.9314
Epoch 7/10
891/891 [==============================] - 0s 112us/step - loss: 9.9314
Epoch 8/10
891/891 [==============================] - 0s 116us/step - loss: 9.9314
Epoch 9/10
891/891 [==============================] - 0s 112us/step - loss: 9.9314
Epoch 10/10
891/891 [==============================] - 0s 123us/step - loss: 9.9314

### Validation Dataset

In [24]:
# Save the number of columns in predictors
n_cols = X.shape[1]
input_shape = (n_cols,)

# Specify the model
model = Sequential()
model.add(Dense(100, activation='relu', input_shape = input_shape))
model.add(Dense(100, activation='relu'))
model.add(Dense(2, activation='softmax'))

# Compile the model
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

# Fit the model
hist = model.fit(X, y, epochs=10, validation_split=0.3)

Train on 623 samples, validate on 268 samples
Epoch 1/10
623/623 [==============================] - 2s 3ms/step - loss: 0.7809 - acc: 0.6100 - val_loss: 0.6330 - val_acc: 0.7015
Epoch 2/10
623/623 [==============================] - 0s 161us/step - loss: 0.6460 - acc: 0.6774 - val_loss: 0.6011 - val_acc: 0.7015
Epoch 3/10
623/623 [==============================] - 0s 161us/step - loss: 0.5968 - acc: 0.6966 - val_loss: 0.5649 - val_acc: 0.7239
Epoch 4/10
623/623 [==============================] - 0s 158us/step - loss: 0.6256 - acc: 0.6870 - val_loss: 0.6686 - val_acc: 0.6604
Epoch 5/10
623/623 [==============================] - 0s 157us/step - loss: 0.6119 - acc: 0.6870 - val_loss: 0.5085 - val_acc: 0.7612
Epoch 6/10
623/623 [==============================] - 0s 353us/step - loss: 0.5629 - acc: 0.7303 - val_loss: 0.4669 - val_acc: 0.7649
Epoch 7/10
623/623 [==============================] - 0s 149us/step - loss: 0.6081 - acc: 0.7416 - val_loss: 0.5784 - val_acc: 0.7388
Epoch 8/10
623/623 [==============================] - 0s 162us/step - loss: 0.6418 - acc: 0.7063 - val_loss: 0.5208 - val_acc: 0.7388
Epoch 9/10
623/623 [==============================] - 0s 158us/step - loss: 0.5303 - acc: 0.7544 - val_loss: 0.4565 - val_acc: 0.7799
Epoch 10/10
623/623 [==============================] - 0s 166us/step - loss: 0.5497 - acc: 0.7400 - val_loss: 0.4753 - val_acc: 0.8060

### Early Stopping

In [25]:
# Import EarlyStopping
from keras.callbacks import EarlyStopping

# Save the number of columns in predictors
n_cols = X.shape[1]
input_shape = (n_cols,)

# Specify the model
model = Sequential()
model.add(Dense(100, activation='relu', input_shape = input_shape))
model.add(Dense(100, activation='relu'))
model.add(Dense(2, activation='softmax'))

# Compile the model
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

# Define early_stopping_monitor
early_stopping_monitor = EarlyStopping(patience=2)

# Fit the model
model.fit(X, y, epochs=30, validation_split=0.3, callbacks=[early_stopping_monitor])

Train on 623 samples, validate on 268 samples
Epoch 1/30
623/623 [==============================] - 2s 3ms/step - loss: 0.8338 - acc: 0.6404 - val_loss: 0.6684 - val_acc: 0.7164
Epoch 2/30
623/623 [==============================] - 0s 154us/step - loss: 0.7459 - acc: 0.5859 - val_loss: 0.6216 - val_acc: 0.6791
Epoch 3/30
623/623 [==============================] - 0s 160us/step - loss: 0.6404 - acc: 0.6629 - val_loss: 0.5590 - val_acc: 0.7724
Epoch 4/30
623/623 [==============================] - 0s 171us/step - loss: 0.5907 - acc: 0.6806 - val_loss: 0.5037 - val_acc: 0.7612
Epoch 5/30
623/623 [==============================] - 0s 149us/step - loss: 0.5995 - acc: 0.6822 - val_loss: 0.5927 - val_acc: 0.6493
Epoch 6/30
623/623 [==============================] - 0s 151us/step - loss: 0.6502 - acc: 0.6758 - val_loss: 0.7675 - val_acc: 0.6455

It seems like the optimization stopped after 8 epochs

## Comparing Models

In [26]:
# Create the new model: model_2
model_1 = Sequential()

# Add the first and second layers
model_1.add(Dense(10, activation='relu', input_shape = input_shape))
model_1.add(Dense(10, activation='relu'))

# Add the output layer
model_1.add(Dense(2, activation='softmax'))

# Compile model_2
model_1.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [27]:
# Create the new model: model_2
model_2 = Sequential()

# Add the first and second layers
model_2.add(Dense(100, activation='relu', input_shape = input_shape))
model_2.add(Dense(100, activation='relu'))

# Add the output layer
model_2.add(Dense(2, activation='softmax'))

# Compile model_2
model_2.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [ ]:
# Define early_stopping_monitor
early_stopping_monitor = EarlyStopping(patience=2)

# Fit model_1
model_1_training = model_1.fit(X, y, epochs=15, validation_split=0.2, callbacks=[early_stopping_monitor], verbose=False)

# Fit model_2
model_2_training = model_2.fit(X, y, epochs=15, validation_split=0.2, callbacks=[early_stopping_monitor], verbose=False)

# Create the plot
plt.plot(model_1_training.history['val_loss'], 'r', model_2_training.history['val_loss'], 'b')
plt.xlabel('Epochs')
plt.ylabel('Validation score')
plt.show()

## Using Models

1. Save
2. Reload
3. Make Predictions

In [ ]:
from keras.models import load_model

# Save the model
model.save('model_file.h5')

# Reload the model
my_model = load_model('my_model.h5')

# Calculate predictions
predictions = my_model.predict(data_to_predict_with)

# Calculate predicted probabilities (Calculate predicted probability of survival)
probability_true = predictions[:,1]

# Print predicted probabilities
probability_true