# Deep Learning

In [18]:
# Import necessay modules
import pandas as pd
import numpy as np

import keras
from keras.layers import Dense
from keras.models import Sequential

from keras.utils import to_categorical

In [3]:
df = pd.read_csv('datasets/hourly_wages.csv')

In [4]:
df.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534 entries, 0 to 533
Data columns (total 10 columns):
wage_per_hour     534 non-null float64
union             534 non-null int64
education_yrs     534 non-null int64
experience_yrs    534 non-null int64
age               534 non-null int64
female            534 non-null int64
marr              534 non-null int64
south             534 non-null int64
manufacturing     534 non-null int64
construction      534 non-null int64
dtypes: float64(1), int64(9)
memory usage: 41.8 KB

In [6]:
df.describe()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
count,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000
mean,9.024064,0.179775,13.018727,17.822097,36.833333,0.458801,0.655431,0.292135,0.185393,0.044944
std,5.139097,0.384360,2.615373,12.379710,11.726573,0.498767,0.475673,0.455170,0.388981,0.207375
min,1.000000,0.000000,2.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.250000,0.000000,12.000000,8.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.780000,0.000000,12.000000,15.000000,35.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,11.250000,0.000000,15.000000,26.000000,44.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,44.500000,1.000000,18.000000,55.000000,64.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## Regression Model

In [7]:
# Create an array of Predictors
X = df.drop('wage_per_hour', axis=1).values

# Create an array of Target
y = df.wage_per_hour.values

### Specify a Model

In [9]:
# Save the number of columns in predictors
n_cols = X.shape[1]

# Set up the Sequential model
model = Sequential()

# Add the first layer
model.add(Dense(50, activation='relu', input_shape=(n_cols,)))

# Add the second layer
model.add(Dense(32, activation='relu'))

# Add the output layer
model.add(Dense(1))

### Compile the Model

After specifying the model, we need to compile it to set up the network for **optimization**. `adam` is usually a good choice for optimizer. Note that scaling data before fitting can improve optimization process.

In [10]:
# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Verify that model contains information from compiling
print("Loss function: " + model.loss)

Loss function: mean_squared_error

### Fit the Model

In [12]:
# Fit the model
model.fit(X, y, epochs=10)

Epoch 1/10
534/534 [==============================] - 0s 131us/step - loss: 28.3621
Epoch 2/10
534/534 [==============================] - 0s 92us/step - loss: 23.0322
Epoch 3/10
534/534 [==============================] - 0s 93us/step - loss: 21.8529
Epoch 4/10
534/534 [==============================] - 0s 75us/step - loss: 21.5131
Epoch 5/10
534/534 [==============================] - 0s 75us/step - loss: 21.2517
Epoch 6/10
534/534 [==============================] - 0s 73us/step - loss: 21.2483
Epoch 7/10
534/534 [==============================] - 0s 77us/step - loss: 21.0510
Epoch 8/10
534/534 [==============================] - 0s 73us/step - loss: 21.2738
Epoch 9/10
534/534 [==============================] - 0s 79us/step - loss: 20.8816
Epoch 10/10
534/534 [==============================] - 0s 87us/step - loss: 20.6507

## Classification Model

The main differences of Classification Model with the previous one are:
 - Use `categorical_crossentropy`, `sgd`, or other several loss functions, instead of `mean_squared_error`
 - Add `accuracy` to the compilation step
 - Change activation function to `softmax`
 
_Dataset: Titanic - For detailed information [>>>](https://www.kaggle.com/c/titanic)_

In [13]:
df2 = pd.read_csv('datasets/titanic_num.csv')

In [14]:
df2.head()

,survived,pclass,age,sibsp,parch,fare,male,age_was_missing,embarked_from_cherbourg,embarked_from_queenstown,embarked_from_southampton
0,0,3,22.0,1,0,7.2500,1,False,0,0,1
1,1,1,38.0,1,0,71.2833,0,False,1,0,0
2,1,3,26.0,0,0,7.9250,0,False,0,0,1
3,1,1,35.0,1,0,53.1000,0,False,0,0,1
4,0,3,35.0,0,0,8.0500,1,False,0,0,1

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
survived                     891 non-null int64
pclass                       891 non-null int64
age                          891 non-null float64
sibsp                        891 non-null int64
parch                        891 non-null int64
fare                         891 non-null float64
male                         891 non-null int64
age_was_missing              891 non-null bool
embarked_from_cherbourg      891 non-null int64
embarked_from_queenstown     891 non-null int64
embarked_from_southampton    891 non-null int64
dtypes: bool(1), float64(2), int64(8)
memory usage: 70.6 KB

In [16]:
df2.describe()

,survived,pclass,age,sibsp,parch,fare,male,embarked_from_cherbourg,embarked_from_queenstown,embarked_from_southampton
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,0.647587,0.188552,0.086420,0.722783
std,0.486592,0.836071,13.002015,1.102743,0.806057,49.693429,0.477990,0.391372,0.281141,0.447876
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400,0.000000,0.000000,0.000000,0.000000
50%,0.000000,3.000000,29.699118,0.000000,0.000000,14.454200,1.000000,0.000000,0.000000,1.000000
75%,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000,1.000000,0.000000,0.000000,1.000000
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000,1.000000,1.000000,1.000000

In [22]:
# Create an array of Predictors
X = df2.drop('survived', axis=1).values

# Convert the target to categorical
y = to_categorical(df2.survived)

## Set Up the Model

In [24]:
# Save the number of columns in predictors
n_cols = X.shape[1]

# Set up the model
model = Sequential()

# Add the first layer
model.add(Dense(32, activation='relu', input_shape=(n_cols,)))

# Add the output layer
model.add(Dense(2, activation='softmax'))

## Compile the Model

We'll try to predict which passengers survived

In [25]:
# Compile the model
model.compile(optimizer='sgd', loss='categorical_crossentropy', metrics=['accuracy'])

## Fit the Model

In [28]:
# Fit the model
model.fit(X, y, epochs=10)

Epoch 1/10
891/891 [==============================] - 0s 111us/step - loss: 1.7327 - acc: 0.6105
Epoch 2/10
891/891 [==============================] - 0s 78us/step - loss: 1.1742 - acc: 0.6117
Epoch 3/10
891/891 [==============================] - 0s 80us/step - loss: 0.8547 - acc: 0.6431
Epoch 4/10
891/891 [==============================] - 0s 82us/step - loss: 0.6401 - acc: 0.6947
Epoch 5/10
891/891 [==============================] - 0s 78us/step - loss: 0.7719 - acc: 0.6274
Epoch 6/10
891/891 [==============================] - 0s 78us/step - loss: 0.6378 - acc: 0.6510
Epoch 7/10
891/891 [==============================] - 0s 82us/step - loss: 0.6075 - acc: 0.6678
Epoch 8/10
891/891 [==============================] - 0s 90us/step - loss: 0.6197 - acc: 0.6824
Epoch 9/10
891/891 [==============================] - 0s 80us/step - loss: 0.6043 - acc: 0.6947
Epoch 10/10
891/891 [==============================] - 0s 95us/step - loss: 0.5972 - acc: 0.6902

## Using Models

1. Save
2. Reload
3. Make Predictions

In [ ]:
from keras.models import load_model

# Save the model
model.save('model_file.h5')

# Reload the model
my_model = load_model('my_model.h5')

# Calculate predictions
predictions = my_model.predict(data_to_predict_with)

# Calculate predicted probabilities (Calculate predicted probability of survival)
probability_true = predictions[:,1]

# Print predicted probabilities
probability_true